.head-table-cliente {
  font-size: 12px;
  font-weight: bold;
  color: #0EA0C0 !important;
}

.icon-color {
  color: #FFF;
}

.info-cliente {
  font-size: 12px;
  font-weight: bold;
  color: #0B4051;
}
